@media screen and (max-width: 1224px) {
    /* slider */
    .swiper {
        height: 500px;
    }

    .swiper-slide div {
        transform: translate(-20%, -60%);
        width: 50%;
    }
    .swiper-slide div h1 {
        font-size: 2.1rem;
        white-space: nowrap;
        line-height: 60px;
    }
    .swiper-slide div p {
        font-size: 1.3rem;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 4rem;
    }
    .home {
        width: 30% !important;
        height: 275px !important;
    }
    .service-card {
        height: 560px;
    }
}

@media screen and (max-width: 1024px) {
    /* menu */

    .menu-logo {
        width: 27%;
    }
    .menu-logo img {
        width: 60px;
        height: 60px;
    }
    /* slider */
    .swiper {
        height: 450px;
    }
    .swiper-slide div h1 {
        font-size: 2.1rem;
        white-space: nowrap;
        line-height: 60px;
    }
    .swiper-slide div p {
        font-size: 1.2rem;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 3.5rem;
    }
    /* meno */
    .about-text {
        width: 60%;
    }
    .home {
        width: 31%;
        height: 255px;
    }
    .experts .expert-row {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .experts .expert-card {
        width: 45%;
        margin: 1rem 0;
    }

    .experts .expert-card h5 {
        padding: 0.5rem 0;
    }
    .waves {
        height: 1vh;
        margin-top: -15px;
    }
}
@media screen and (max-width: 834px) {
    .menu-logo {
        width: 27%;
    }
    .menu-logo img {
        width: 56px;
        height: 56px;
    }
    /* slider */
    .swiper {
        height: 400px;
    }
    .swiper-slide img {
        object-fit: fill;
        transform: translateY(-60px);
    }
    /* font */
    .swiper-slide div {
        transform: translate(-45%, -60%);
        width: 70%;
    }
    .swiper-slide div h1 {
        font-size: 2rem;
        white-space: nowrap;
        line-height: 60px;
    }
    .swiper-slide div p {
        font-size: 1.2rem;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 3rem;
    }
    /* main */
    .about .px-10 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-text {
        width: 100%;
    }
    .about-image {
        width: 60%;
        margin-top: 2rem;
    }

    .serivces .row {
        flex-wrap: wrap;
    }
    .service-card {
        margin: 1rem 0.5rem;
        width: 45% !important;
    }
    .home {
        width: 31% !important;
        height: 200px !important;
    }
    .employer-info {
        padding: 0.9rem 1.5rem;
    }

    .videos .row {
        flex-wrap: wrap;
    }
    .videos .video-card {
        width: 45%;
        margin: 1rem 0;
    }
    .waves {
        height: 5vh;
        margin-top: 2px;
    }
}

@media screen and (max-width: 768px) {
    /* menu */

    .menu-logo {
        width: 27%;
    }
    .menu-logo img {
        width: 56px;
        height: 56px;
    }
    /* slider */
    .swiper {
        height: 400px;
    }
    .swiper-slide img {
        object-fit: fill;
        transform: translateY(-60px);
    }
    /* font */
    .swiper-slide div {
        transform: translate(-45%, -60%);
        width: 70%;
    }
    .swiper-slide div h1 {
        font-size: 2rem;
        white-space: nowrap;
        line-height: 60px;
    }
    .swiper-slide div p {
        font-size: 1.2rem;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 2.8rem;
    }

    /* main */
    .home {
        width: 29% !important;
        height: 175px !important;
    }

    .employers {
        height: fit-content;
    }

    .emp-row {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .employer-info {
        width: 100%;
        margin: 3rem 0;
    }
    .employer-info p {
        margin-bottom: 2rem;
    }

    .waves {
        height: 1vh;
        margin-top: 3px;
    }
}
@media screen and (max-width: 680px) {
    /* header-menu */
    nav .container {
        margin: 0;
        height: 45px;
    }
    .menu-items li {
        padding: 0.5rem 1.3rem !important;
    }
    .menu-logo {
        width: 27%;
    }
    .menu-logo img {
        width: 54px;
        height: 54px;
    }
    /* slider */
    .swiper {
        height: 300px;
    }

    .swiper-slide img {
        object-fit: fill;
        transform: translateY(-50px);
    }
    /* font */
    .swiper-slide div {
        transform: translate(-45%, -60%);
        width: 70%;
    }
    .swiper-slide div h1 {
        font-size: 1.7rem;
        white-space: nowrap;
        line-height: 50px;
    }
    .swiper-slide div p {
        font-size: 1rem;
    }
    .service-card {
        margin: 1rem 0.5rem;
        width: 47% !important;
    }
    .home {
        width: 29% !important;
        height: 175px !important;
    }
}

@media screen and (max-width: 480px) {
    /* header */
    nav {
        display: none;
    }
    /* slider */
    .swiper {
        height: 200px;
    }

    .swiper-slide img {
        object-fit: fill !important;
        transform: translateY(-50px) !important;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 1.8rem;
    }
    /* text */

    .swiper-slide div {
        transform: translate(-45%, -60%);
        width: 70%;
    }
    .swiper-slide div h1 {
        font-size: 1.2rem;
        /* white-space:nowrap; */
        line-height: 50px;
    }
    .swiper-slide div p {
        font-size: 0.8rem;
    }
    /* meno */
    .service-card,
    .expert-card,
    .video-card {
        height: fit-content;
    }
    .menu-btn {
        display: flex;
        flex-flow: column wrap;
    }
    /*main */
    .about ul {
        flex-direction: column;
        align-items: center;
    }
    .about ul li {
        width: 225px;
        text-align: right;
    }

    .serivces {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .service-card {
        width: 90% !important;
    }
    .home {
        width: 44% !important;
        height: 130px !important;
    }
    .mt-20,
    .mt-24 {
        margin-top: 1.5rem;
    }
    .about-image {
        width: 70%;
        margin-top: 2rem;
    }
    .employer-info .employer-image {
        left: 50%;
        transform: translate(-50%);
    }
    .experts .expert-card {
        width: 95%;
    }
    .videos .video-card {
        width: 95%;
        margin: 1rem 0;
    }
    .waves {
        height: 1vh;
        margin-top: 3px;
    }

    /* Footer */
    footer {
        height: auto;
    }
    footer .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    footer .contact,
    footer .contact-info {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    footer .contact-info ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact p {
        text-align: center;
    }
}

@media screen and (max-width: 380px) {
    /* header */
    nav {
        display: none;
    }
    /* slider */
    .swiper {
        height: 170px;
    }

    .swiper-slide img {
        object-fit: fill;
        transform: translateY(-30px) !important;
    }

    /* text */

    .swiper-slide div {
        transform: translate(-45%, -60%);
        width: 70%;
    }
    .swiper-slide div h1 {
        font-size: 0.9rem;
        white-space: nowrap;
        line-height: 40px;
    }
    .swiper-slide div p {
        font-size: 0.8rem;
    }
    /* meno */
    .menu-btn {
        display: flex;
        flex-flow: column wrap;
    }

    /* mean */
    .service-card {
        margin: 1rem 0;
        width: 100% !important;
    }
    .home {
        width: 100% !important;
        height: 260px !important;
        margin: 1rem 0;
    }
    .waves {
        height: 1vh;
        margin-top: 2px;
    }
}

@media screen and (min-width: 1440px) {
    .swiper {
        height: 100vh;
    }
    .waves {
        margin-top: -59px;
    }
    .swiper-slide img {
        transform: translateY(0);
        object-fit: fill;
    }
}
