@media screen and (max-width: 360px){
    /* header */
    nav {
        display: none;
    }
    /* slider */
    .swiper {
        height: 170px;
    }

    .swiper-slide img {
        object-fit: fill;
        transform: translateY(-30px)!important;
    }

    /* text */

    .swiper-slide div {
        transform: translate(-45%, -60%);
        width: 100%;
    }
    .swiper-slide div h1 {
      font-size: 1rem;
      white-space:nowrap;
      line-height: 50px;
    }
    .swiper-slide div p {
        font-size: .8rem;
    }
    /* meno */
    .menu-btn {
        display: flex;
        flex-flow:column wrap ;
    } 
}
@media screen and (max-width: 414px) {
     /* header */
    nav {
        display: none;
    }
    /* slider */
    .swiper {
        height: 200px;
    }

    .swiper-slide img {
        object-fit: fill;
        transform: translateY(-50px);
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 1.8rem;
    }
    /* text */

    .swiper-slide div {
        transform: translate(-45%, -60%);
        width: 70%;
    }
    .swiper-slide div h1 {
      font-size: 1.2rem;
      /* white-space:nowrap; */
      line-height: 50px;
    }
    .swiper-slide div p {
        font-size: .8rem;
    }
    /* meno */
    .menu-btn {
        display: flex;
        flex-flow:column wrap ;
    }

}

/* @media screen  and (max-width:650px){
    
}
@media screen  and (max-width:820px){
    
}
@media screen  and (max-width:1024px){
    
}
@media screen  and (max-width:1240px){
    
} */
