*{
    box-sizing: border-box;
}
:root {
    --first--color: #fbba00;
    --second--color: #c6c6c6;
    --Third--color: #363636;
    --main--color: #f8f8fff8;
    --text--color:#8d8d8d;
}
body{
    direction: rtl;
    font-family: 'yekan';
}
nav{
    background-color: #ffffff10;
    backdrop-filter: blur(15px);
}
.menu-items li{
    padding: .5rem 2rem;
    color:var(--Third--color);
}


.menu-items li a:hover{
    color:var(--Third--color);
}
.menu-items  li.active{
    background-color: var(--first--color);
    /* padding: .5rem 1.5rem; */
    color: #fff;
    border-radius: 5px;
}

.menu-items li.active a:hover {
    color: #fff;
}
.menu-logo img {
    width: 64px;
    height: 64px;
}

.menu-logo span {
    color: var(--first--color);
    font-weight: bold;
    font-size: 1.1rem;
}

/* slider */
.swiper-slide div{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-10% , -100%);
}

.swiper-slide div h1{
    text-align:right ;
    color: var(--first--color);
    font-size: 2rem;
    line-height: 70px;

}
.swiper-slide div p{
    font-size: 1.1rem;
}