* {
    box-sizing: border-box;
}
:root {
    --first--color: #fbba00;
    --second--color: #c6c6c6;
    --Third--color: #363636;
    --main--color: #f8f8fff8;
    --text--color: #8d8d8d;
}
body {
    direction: rtl;
    font-family: "yekan";
}
/* scrollBar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--first--color);
    border-radius:8px;
  }
  

nav {
    background-color: #ffffff10;
    backdrop-filter: blur(15px);
}
.menu-items li {
    padding: 0.5rem 2rem;
    color: var(--Third--color);
}

.menu-items li a:hover {
    color: var(--Third--color);
}
.menu-items li.active {
    background-color: var(--first--color);
    /* padding: .5rem 1.5rem; */
    color: #fff;
    border-radius: 5px;
}

.menu-items li.active a:hover {
    color: #fff;
}
.menu-logo img {
    width: 64px;
    height: 64px;
}

.menu-logo span {
    color: var(--first--color);
    font-weight: bold;
    font-size: 1.1rem;
}

/* slider */
.swiper-slide div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -100%);
}

.swiper-slide div h1 {
    text-align: right;
    color: var(--first--color);
    font-size: 2rem;
    line-height: 70px;
}
.swiper-slide div p {
    font-size: 1.1rem;
}
/* main */

main {
    width: 100%;
}
.about-text h1 {
    font-size: 1.5rem;
    color: var(--Third--color);
}
.about-text h1 span {
    color: var(--first--color);
}
.about-text p {
    line-height: 30px;
    color: var(--Third--color);
    text-align: justify;
}
.about-text ul li {
    margin-bottom: 1rem;
    color: var(--Third--color);
}
.about-text ul i {
    color: var(--first--color);
    vertical-align: middle;
    margin-right: 0.3rem;
}
.serivces .service-card {
    width: 30%;
    height: 400px;
    padding: 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
        transition: all 0.3s;
}
.service-card .service-image {
    width: 100%;
    height: 55%;
}
.service-desc {
    padding: 1.5rem 1rem;
}
.service-card:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}
.service-desc h3 {
    text-align: center;
    margin-bottom: 0.5rem;
    color: var(--first--color);
    font-size: 1.2rem;
    font-weight: bold;
}
.service-desc p {
    text-align: center;
    color: var(--Third--color);
}
section .home-title {
    font-size: 1.5rem;
    text-align: center;
    color: var(--first--color);
}

.home {
    overflow: hidden;
    position: relative;
    width: 23%;
    height: 250px;
    margin: 0.5rem;
}

.home img {
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}

.home p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: var(--first--color);
    font-size: 1.2rem;
    opacity: 0;
    transition: all 0.4s;
}

.home img:hover {
    filter: brightness(50%);
}
.home:hover p {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.employers {
    width: 100%;
    height: 400px;
    background-image: url("/assets/img/testimonial-bg.jpg");
    background-size: 100% 100%;
}

.container .employers-title {
    text-align: center;
    font-size: 2rem;
    color: var(--first--color);
}
.employer-info {
    width: 45%;
    background-color: #fff;
    padding: 2rem;
    position: relative;
}
.employer-info p:first-child {
    color: #8d8d8d;
    text-align: justify;
    padding: 0.7rem 0;
}
.employer-info p:last-child {
    font-size: 0.8rem;
}

.employer-info h2 {
    font-size: 1.1rem;
    font-weight: bold;
}

/* .employer-info p:before {
    content: "\f10d";
    font-family: 'FontAwesome';
    position: absolute;
    top: -5px;
    left: -29px;
    color: rgba(253, 194, 54, 0.34);
    font-size: 43px;
    font-style: normal;
} */
.employer-image {
    width: 95px;
    height: 95px;
    position: absolute;
    bottom: -18%;
    left: 10%;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--first--color);
}
.employer-image img {
    width: 100%;
}

.experts h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
    color: var(--first--color);
}

.experts .expert-card {
    width: 24%;
    height: 400px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all 0.3s;
}
.experts .expert-card:hover{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.experts .expert-card .card-image {
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.experts .expert-card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.experts .expert-card .card-desc {
    height: 40%;
}

.experts .expert-card .card-desc h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--Third--color);
    border-bottom: 2px solid var(--first--color);
    padding-bottom: 0.5rem;
}
.card-desc p {
    text-align: center;
    padding: 0.5rem;
}
/* footer */
footer {
    width: 100%;
    background-image: url("/assets/img/footer-bg.jpg");
    height: 310px;
}
.bg-img {
    width: 85px;
    height: 85px;
}
.bg-img img {
    width: 100%;
}
.contact {
    width: 30%;
}
.contact i {
    font-size: 1.5rem;
}
.contact-info {
    width: 30%;
    padding-top: 5rem;
}
.contact-info h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--first--color);
    margin-bottom: 0.6rem;
}
.contact-info h2 i {
    padding: 0.5rem;
}
.contact-info li i {
    padding: 0.5rem;
    color: var(--first--color);
}

footer li:hover {
    color: var(--first--color);
}

footer a:hover {
    color: var(--first--color);
}
